<div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">Valentine's Day</h1>
            <hr>
            <p class="lead">Dear Princess,</p>
            <p>I wanted to create something special for this Valentine's Day, something that captures the essence of my love and affection for each other.</p>
            <p>This project is a token of my appreciation for the love and joy you bring into my live every single day. It's a celebration of the bond we share, the memories we've created, and the adventures that lie ahead.</p>
            <p>Throughout this project, I've poured my heart into every detail, hoping to convey just a fraction of the depth of my feelings for you.</p>
            <p>Thank you for being the most incredible partner anyone could ever ask for. I love you more than words can express, and I can't wait to spend this Valentine's Day and many more to come, by your side.</p>
            <p class="signature">With all my love,<br>Mohammed Hattab</p>
          </div>
        </div>
      </div>
    </div>