<div class="heart-container"><div class="heart"></div></div>
<div class="circle-1"></div>
<div class="circle-2"></div>
<div class="circle-3"></div>
<div class="text-container">
  <h2 class="text">
    <span>H</span><span>A</span><span>P</span><span>P</span><span>Y</span
    ><span>-</span><span style="color: red">V</span
    ><span style="color: red">A</span><span style="color: red">L</span
    ><span>-</span><span>F</span><span>R</span><span>O</span><span>M</span
    ><span style="color: red">-</span><span>M</span><span>E</span
    ><span style="color: red">-</span>
  </h2>
</div>

