<main class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4 custom-font text-danger">Welcome to Our Journey of Love</h1>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <section class="content px-3 py-3"> <!-- Add padding classes here -->
                <p class="lead custom-font">You are the most amazing person I've ever known, and I'm grateful every day that you chose me to be a part of your life.</p>
                <p class="lead custom-font">Your love means the world to me, and I can't imagine my life without you by my side.</p>
                <p class="lead custom-font">Thank you for everything, my love Mary. </p>
            </section>
        </div>
        <div class="col-md-6">
            <section class="cta text-center">
                <p class="lead custom-font px-4 py-3">Are you ready to start our beautiful journey together?</p>
                <a  routerLink="/part-one" class="btn btn-danger btn-lg bounce ">Start Journey</a>
            </section>
        </div>
    </div>
</main>